# IntelliJ project files
.idea
*.iml

### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm files
.npm
package-lock.json

# Yarn Integrity file
.yarn-integrity
